.DS_Store
/.build
/Packages
xcuserdata/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc


updates/ComfyTile-Installer.dmg
updates/ComfyTile.app
updates/create_dmg.sh

# Xcode
DerivedData/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.app
buildServer.json
